[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
"e1839a8" = {path = ".", editable = true}
kubernaut = {editable = true, path = "."}
"ruamel.yaml" = "*"
colorama = "*"
versioneer = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pyinstaller = "*"

[requires]
python_version = "3.6"
